h1 Аккаунт

div
  | Ваш порт: #{current_account.port}

span.lead'
  | Активные профили 
button id='reload' class="btn btn-default btn-sm" Обновить
p
table class="table table-stripped table-condensed" id="list"
  tbody id="profiles"
    - @profiles.each do |profile|
      tr class='list-row'
        td class='list-column' = profile.name

javascript:

  var profiles_table = document.getElementById('profiles');

  document.getElementById('reload').onclick = function() {
    ajax("/ajax_profiles");
  }

  function ajax(url) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.onload = function() {
      profiles_table.innerHTML = '';
      JSON.parse(xhr.responseText).forEach(function(profile) {
        profiles_table.innerHTML += "<tr class='list-row'><td class='list-column'>" + profile + "</td></tr>";
      });
    };
    xhr.send();
  }
